.main-chat
  .group-info
    .left-box
      %h2.current-group
        = current_user.groups.find(params[:group_id]).name
      %ul.menber-list
        Menber
        - current_user.groups.find(params[:group_id]).users.each do |t|
          %li.member
            = ": #{t.name}"
    = link_to edit_group_path(params[:group_id]), class: "edit-btn" do
      Edit

  .messages
    = render @messages
    
  .message__form
    = form_for [@group, @message] do |f|
      .input__box
        = f.text_field :content, class: 'input__text', placeholder: 'type a message'
        = f.label :image, class: 'input__box__image' do 
          = icon('far', 'image fa-2x')
          = f.file_field :image, class: 'input__file'
      = f.submit 'Send', class: 'submit__btn'
      
