.side-bar
  .user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      %ul.top-items__lists
        %li.icon-left
          = link_to new_group_path do
            %span.far.fa-edit.left-btn
        %li.icon-right
          = link_to edit_user_path(current_user) do
            %span.fa.fa-cog.right-btn
        
  .group-list
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group-name
            = group.name
          .group-message
            まだメッセージがありません
    